@font-face {
    font-family: poppins;
    src: url(./assets/fonts/Poppins-Regular.ttfs);
}
@font-face {
    font-family: poppinsMid;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppinsBold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppinsSemi;
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppinsBlack;
    src: url(./assets/fonts/Poppins-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}

.wrapper{
    background: white;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
}

.form{
    padding: 25px 30px;
}

.form header{
    font-size: 25px;
    font-family: poppinsBold;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form form{
    margin: 20px 0;
}

.form form .error-txt{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: poppinsSemi;
    border: 1px solid #f5c6cb;
}

.form form .field, .form form .field1{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 3px;
}

.form form .field input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.name-details{
    display: flex;
    gap: 10px;
}

.form form .field input[type=submit]{
    height: 45px;
    background: #333;
    color: white;
    font-family: poppinsSemi;
    cursor: pointer;
    border: none;
    margin-top: 15px;
}

input[type=file]{
    font-size: 17px;
}

.link p{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.link p a{
    color: #515151;
    font-family: poppinsSemi;
}

.link p a:hover{
    text-decoration: underline;
}