@font-face {
    font-family: poppins;
    src: url(./assets/fonts/Poppins-Regular.ttfs);
}
@font-face {
    font-family: poppinsMid;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppinsBold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppinsSemi;
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppinsBlack;
    src: url(./assets/fonts/Poppins-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}

.wrapper{
    background: white;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
}